[submodule "vim/bundle/clam"]
	path = vim/bundle/clam
	url = git://github.com/sjl/clam.vim.git
[submodule "vim/bundle/c.vim"]
	path = vim/bundle/c.vim
	url = git://github.com/vim-scripts/c.vim.git
[submodule "vim/bundle/color-sampler-pack"]
	path = vim/bundle/color-sampler-pack
	url = git://github.com/Slashbunny/vim-colorsamplerpack.git
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/delimitMate"]
	path = vim/bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "vim/bundle/easytags"]
	path = vim/bundle/easytags
	url = git://github.com/xolox/vim-easytags.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
